[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
pytest = "*"

[packages]
numpy = "*"
flask = "*"
opencv-contrib-python = "*"
matplotlib = "*"
black = "==18.9b0"
pytest = "*"
torch = "==1.2.0+cpu"
torchvision = "==0.4.0+cpu"
werkzeug = ">=0.15.3"
jinja2 = ">=2.10.1"

[requires]
python_version = "3.6"
